body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.inTest {
  width: 100vw;
  height: 666px;
  position: fixed;
  left: 0;
  top: -666px;
  transition: 1.3s;
  background-color: #333;
  opacity: 0.9;
  border-top: 2px solid #ffb400;
  overflow-x: hidden;
  z-index: 2;
}
.outTest {
  width: 100vw;
  height: 666px;
  position: fixed;
  left: 0;
  top: 110%;
  transition: 1.3s;
  background-color: #333;
  opacity: 0.9;
  border-top: 2px solid #ffb400;
  overflow-x: hidden;
  z-index: 2;
}
/* .timeOut1 {
  opacity: 0.5;
  transition: 1s;
}
.timeOut2 {
  opacity: 1;
  transition: 1s;
} */
